h1{
    text-align: center;
    justify-content: space-between;
    margin-top: 200px;
    color:blueviolet;
}
#timer{
    text-align: center;
    color:orangered;
    font-weight: 600;
    font-size: xx-large;
}
.btn{
    
    margin-left: 400px;
    gap: 10px;
    background-color: pink;
    color: brown;
}

