.heading{
    
    text-align: center;
    align-items: center;
}
.first-row{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    gap:5px
    
}
.sec-head{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    transition: ;
    
}


.sec-part{
    height: 160px;
    width: 187px;
    background-color: blanchedalmond;
    gap:10px;
    
    
   
}
.h{
    text-align: center;
}
.p{
    color: gray;
}

@media screen and (max-width:425px) {
    .sec-part{
        height: 180px;
        width: 180px;
        background-color: blue;
        gap:10px;
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .sec-head{
        flex-direction: column;
    }
    .first-row{
        flex-direction: column;
    }
    body{
        background-color: blueviolet;
    }
    h1{
        color: aqua;
    }
    p{
        color: yellowgreen;
    }
    h3{
        color:orange;
    }
    
}
